
#granim-canvas{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
}
#navbar_div {
    display: flex;
    justify-content: space-around;
    font-family: Helvetica;
    background: rgb(53, 51, 51);
    font-size: 15px;
    padding: 5px;
    line-height: 50px;
}
#logo{
    width: 16%;
}

#logo:hover {
  animation-duration: 3s;
  animation-name: zoomout;

}

@keyframes zoomout {
  0% {
    transform: scale(1.0);
  }
  50%{
    transform: scale(0.9);
  }
  100%{
    transform: scale(1.0);
  }  
}

.items{
    color: white;
    padding: 5px;
}
img {
    width: 300px;
}

#current:hover{
  background-color: green;
}

.items:hover {                  /* pseudoclass */
    background-color: gray;
    opacity: 0.5;
}
@media(max-width: 500px){
    #navbar_div a{
        font-size: 13px;
    }
}

a {
    width: 20%;
    text-align: center;
    text-decoration: none;
}

  
/* Set the size of the div element that contains the map */
#map {
    height: 400px;
    /* The height is 400 pixels */
    width: 100%;
    /* The width is the width of the web page */
  }
