#navbar_div {
    display: flex;
    justify-content: space-around;
    font-family: Helvetica;
    background: rgb(53, 51, 51);
    font-size: 15px;
    padding: 5px;
    line-height: 50px;
}
#logo{
    width: 15%;
}
.items{
    color: white;
    padding: 5px;
}
img {
    width: 300px;
}
.items:hover {                  /* pseudoclass */
    background-color: gray;
    opacity: 0.5;
}
#current:hover{
    background-color: green;
}
#navbar_div a {
    width: 14%;
    text-align: center;
    text-decoration: none;
}
#granim-canvas{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
}
#Home h1{
    color:white;
    font-size: 100px;
    text-align: center;
}
#Home p{ /* This is basically saying that the p tag inside #Home gets the flex property, the parents does not*/
    color: white;
    font-size: 30px;
    text-align: center;
    /* margin: 100px; */
}
#Home{
    display:flex;
    flex-direction:column; /*makes items in flex appear in column */
    align-items: center; /*centers item if in column, justify-content otherwise*/
}
#photo_1 {
    width: 50%;
    height: auto;
}
#photo_2 {
    width: 50%;
    height: auto;
    margin-top: 60px;
}
#photo_3 {
    width:40%;
    height:auto;
    margin-top: 60px;
}

#photo_4 {
    width:70%;
    height:auto;
    margin-top: 60px;
}
@media(max-width: 500px){
    #navbar_div a{
        font-size: 10px
    }
    #Home h1{
        font-size: 70px;
    }
}
#logo:hover {
    animation-duration: 3s;
    animation-name: zoomout;
  
  }
  
  @keyframes zoomout {
    0% {
      transform: scale(1.0);
    }
    50%{
      transform: scale(0.9);
    }
    100%{
      transform: scale(1.0);
    }  
  }
  